<p-dialog visible="true" showEffect="fade" [modal]="true" [closable]="false" [style]="{width: '800px'}"
    [blockScroll]="true">
    <p-header>
        Benchmark Values
    </p-header>
    <div class="modelHeight300">
        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <label class="label">Select Benchmark</label>
            <br>
            <div style="height:5px"></div>
            <p-dropdown [options]="lstBenchmarkGroup" placeholder="Select BenchMark" [(ngModel)]="selectedBenchmark"
                [group]="true" [style]="{ 'width':'70%'}" appendTo="body">
                <ng-template let-group pTemplate="group">
                    {{group.label}}
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <label class="label">Select Item</label>
            <br>
            <div style="height:5px"></div>
            <p-dropdown [options]="lstItem" appendTo="body" [(ngModel)]="selectedItem" [style]="{ 'width': '70%'}">
            </p-dropdown>
        </div>
        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <label class="label">Select Date</label>
            <br>
            <div style="height:5px"></div>
            <p-calendar [(ngModel)]="selectedDate" [disabledDates]="invalidDates" [showIcon]="true" appendTo="body"
                [maxDate]="maxDate" [readonlyInput]="true" dateFormat="mm/dd/yy" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="2000:2030" showButtonBar="true"></p-calendar>
        </div>
    </div>
    <p-overlayPanel #opError appendTo="body" [dismissable]="true">
        <p-message severity="error" text="Please select Benchmark"></p-message>
    </p-overlayPanel>
    <p-footer>
        <p-button label="Submit" (click)="btnSubmit_Click($event,opError)"></p-button>&nbsp;
        <p-button label="Close" styleClass="ui-button-danger" (click)="btnClose_Click()"></p-button>
    </p-footer>
</p-dialog>