<p-dialog visible="true" showEffect="fade" [modal]="true" [closable]="false" [style]="{width: '800px'}"
    [blockScroll]="true">
    <p-header>
        Growth Values
    </p-header>
    <div class="modelHeight">
        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <label class="label">Select Type</label>
            <br>
            <div style="height:5px"></div>
            <p-selectButton [options]="lstType" [(ngModel)]="selectedType"></p-selectButton>
        </div>
        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <label class="label">Select Growth Item</label>
            <br>
            <div style="height:5px"></div>
            <p-listbox [options]="lstItem" [(ngModel)]="selectedItem" filter="filter"
                [listStyle]="{'max-height':'150px','min-height':'150px'}" [style]="{'width':'50%'}"></p-listbox>
        </div>
        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <label class="label">Select Date</label>
            <br>
            <div style="height:5px"></div>
            <p-calendar [(ngModel)]="selectedDate" [disabledDates]="invalidDates" [showIcon]="true" appendTo="body"
                [maxDate]="maxDate" [readonlyInput]="true" dateFormat="mm/dd/yy" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="2000:2030" showButtonBar="true"></p-calendar>
        </div>
    </div>
    <p-footer>
        <p-button label="Submit" (click)="btnSubmit_Click()"></p-button>&nbsp;
        <p-button label="Close" styleClass="ui-button-danger" (click)="btnClose_Click()"></p-button>
    </p-footer>
</p-dialog>