<div class="p-fluid" style="min-height: 800px">
  <div class="p-col-12">
    <form [formGroup]="signInForm" (ngSubmit)="loginClick()">
      <div class="positionMiddle" style="width:350px">
        <div class="p-fluid forms-grid" style="margin: 1em">
          <div class="p-field ui-fluid" style="text-align: center;">
            <img src="assets/images/logos/LogoVer09172013.gif" class="imageLogo">
          </div>
          <div class="p-field ui-fluid">
            <input type="text" pInputText placeholder="Username" autocomplete="username" formControlName="ctrlUsername"
              value="Name" maxlength="50" style="width:100%;">
          </div>
          <div class="p-field ui-fluid">
            <app-fielderrors [form]="signInForm" field="ctrlUsername" nicename="Username">
            </app-fielderrors>
          </div>
          <div class="p-field ui-fluid">
            <input type="password" pInputText placeholder="Password" autocomplete="current-password"
              formControlName="ctrlPassword" value="Password" maxlength="20" style="width:100%;">
          </div>
          <div class="p-field ui-fluid">
            <app-fielderrors [form]="signInForm" field="ctrlPassword" nicename="Password">
            </app-fielderrors>
          </div>
          <div class="p-field ui-fluid">
            <button pButton type="submit" label="Login" class="p-button-info" style="width:100%;"
              [disabled]="hasFormErrors()"></button>
          </div>
          <div class="p-field ui-fluid">
            <button pButton type="button" label="Sign Up" class="LoginButton" style="width:100%"
              (click)="signUpClick()"></button>
          </div>
          <div class="p-field ui-fluid">
            <button pButton type="button" label="Forgot Password" class="p-button-secondary" style="width:100%"
              [disabled]="hasFormErrorsForgot()"></button>
          </div>
        </div>
      </div>
      <app-createuser *ngIf="userDialog" [userObject]="selectedUser" (dialogEvent)="dialogCloseEvent($event)">
      </app-createuser>
    </form>
  </div>
</div>
<div class="p-fluid">
  <div class="p-col-12" style="text-align: center;">
    © Copyright Ebix Consulting
  </div>
</div>
<p-progressSpinner class="positionMiddle" *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}" strokeWidth="4"
  fill="#EEEEEE">
</p-progressSpinner>
<!-- <div class="ui-g">
  <div id="content-body" class="ui-g-12">
    <div class="ui-g-12" style="min-height: 800px">
      <form [formGroup]="signInForm" (ngSubmit)="loginClick()">
        <div class="ui-g-12 ui-md-4 ui-lg-3 positionMiddle">
          <div class="ui-g-12 ui-md-12" align="center">
            <img src="assets/images/logos/LogoVer09172013.gif" class="imageLogo">
          </div>
          <div class="ui-g-12 ui-md-12">
            <input type="text" pInputText placeholder="Username" autocomplete="username" formControlName="ctrlUsername"
              value="Name" maxlength="50" style="width:100%;">
          </div>
          <div class="ui-g-12 ui-md-12 ui-g-nopad" style="text-align: left;">
            <app-fielderrors [form]="signInForm" field="ctrlUsername" nicename="Username">
            </app-fielderrors>
          </div>
          <div class="ui-g-12 ui-md-12">
            <input type="password" pInputText placeholder="Password" autocomplete="current-password"
              formControlName="ctrlPassword" value="Password" maxlength="20" style="width:100%;">
          </div>
          <div class="ui-g-12 ui-md-12 ui-g-nopad" style="text-align: left;">
            <app-fielderrors [form]="signInForm" field="ctrlPassword" nicename="Password">
            </app-fielderrors>
          </div>
          <div class="ui-g-12 ui-md-12">
            <button pButton type="submit" label="Login" class="ui-button-info" style="width:100%;"
              [disabled]="hasFormErrors()"></button>
          </div>
          <div class="ui-g-12 ui-md-12" align="center">
            <button pButton type="button" label="Sign Up" class="LoginButton" style="width:100%"
              (click)="signUpClick()"></button>
          </div>
          <div class="ui-g-12 ui-md-12" align="center">
            <button pButton type="button" label="Forgot Password" class="ui-button-secondary" style="width:100%"
              [disabled]="hasFormErrorsForgot()"></button>
          </div>
        </div>
        <app-createuser *ngIf="userDialog" [userObject]="selectedUser" (dialogEvent)="dialogCloseEvent($event)">
        </app-createuser>
      </form>
    </div>
    <div style="text-align: center" class="ui-g-12">
      © Copyright Ebix Consulting
    </div>
  </div>
</div>

<p-progressSpinner class="positionMiddle" *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}" strokeWidth="4"
  fill="#EEEEEE">
</p-progressSpinner> -->