<div class="p-grid">
  <div class="p-col-12 p-nogutter" style="padding-top: .5em;">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        Define New Screening Item
      </div>
      <div class="ui-toolbar-group-right">
      </div>
    </p-toolbar>
  </div>
</div>
<ng-container *ngIf="isSecure">
  <form [formGroup]="frmScreeningItem">
    <div class="p-grid">
      <div class="p-col-12 p-lg-12 p-sm-12 p-nogutter">
        <p-panel header="Select Data Items">
          <div class="p-grid">
            <div class="p-col-4 p-lg-4 p-md-6 p-sm-12">
              <div class="p-lg-12 p-sm-12">
                <span class="labelMedium"><b>Categories</b></span>
              </div>
              <div class="p-lg-12 p-sm-12">
                <p-listbox [options]="lstCategories" formControlName="selectedCategory" optionLabel="label"
                  [listStyle]="{'max-height':'200px','min-height':'200px' }" [style]="{'width':'100%'}" filter="filter"
                  (onChange)="lstCategory_Change($event)"></p-listbox>
              </div>
            </div>
            <div class="p-col-4 p-lg-4 p-md-6 p-sm-12">
              <div class="p-lg-12 p-sm-12">
                <span class="labelMedium"><b>Items</b></span>
              </div>
              <div class="p-lg-12 p-sm-12">
                <p-listbox [options]="lstItems" formControlName="selectedItem" optionLabel="label"
                  [listStyle]="{'max-height':'200px','min-height':'200px'}" [style]="{'width':'100%'}" filter="filter"
                  (onChange)="lstItem_Change($event)"></p-listbox>
              </div>
            </div>
          </div>
          <p-footer>
            <button pButton type="button" label="Add Item" class="ui-button-raised"
              (click)="btnAddItem_Click()"></button>
          </p-footer>
        </p-panel>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 p-lg-12 p-sm-12 p-nogutter">
        <p-panel header="Build Formula">
          <div class="p-grid">
            <div class="p-col-8 p-lg-8 p-md-8 p-sm-12">
              <textarea rows="7" cols="30" pInputTextarea style="width: 100%;height: 100%;"
                formControlName="ctrlDataItem" (keypress)="ctrlKeyPress($event,0)"></textarea>
            </div>
            <div class="p-col-4 p-lg-4 p-md-4 p-sm-12" style="text-align: center;">
              <div class="p-grid" style="margin-top: auto;">
                <div class="p-col-6">
                  <button pButton type="button" label="+" style="width: 60px" class="ui-button-raised"
                    (click)="btnAddOperator_Click(&#39; + &#39;)"></button>
                </div>
                <div class="p-col-6">
                  <button pButton type="button" label="-" style="width: 60px" class="ui-button-raised"
                    (click)="btnAddOperator_Click(&#39; - &#39;)"></button>
                </div>
                <div class="p-col-6">
                  <button pButton type="button" label="*" style="width: 60px" class="ui-button-raised"
                    (click)="btnAddOperator_Click(&#39; * &#39;)"></button>
                </div>
                <div class="p-col-6">
                  <button pButton type="button" label="/" style="width: 60px" class="ui-button-raised"
                    (click)="btnAddOperator_Click(&#39; / &#39;)"></button>
                </div>
                <div class="p-col-6">
                  <button pButton type="button" label="(" style="width: 60px" class="ui-button-raised ui-button-warning"
                    (click)="btnAddOperator_Click(&#39; ( &#39;)"></button>
                </div>
                <div class="p-col-6">
                  <button pButton type="button" label=")" style="width: 60px" class="ui-button-raised ui-button-warning"
                    (click)="btnAddOperator_Click(&#39; ) &#39;)"></button>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
    <div class="p-grid p-nogutter">
      <div class="p-col-12 p-sm-12 p-md-12">
        Item Name
      </div>
      <div class="p-col-12 p-sm-12 p-md-12">
        <input id="input" type="text" size="30" pInputText formControlName="ctrlItemName"
          (keypress)="ctrlKeyPress($event,1)">&nbsp;
        <button pButton type="button" label="Save the item" class="ui-button-raised ui-button-success"
          [disabled]="hasFormErrors()" (click)="btnSaveItem_Click()"></button>
      </div>
    </div>
  </form>
</ng-container>
<p-toast [style]="{marginTop: '80px'}" position="bottom-right" key="saveSuccess" appendTo="body"></p-toast>
<p-toast [style]="{marginTop: '80px'}" position="bottom-right" key="saveError" appendTo="body"></p-toast>
<p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}" class="positionMiddle" strokeWidth="4">
</p-progressSpinner>