<p-dialog visible="true" showEffect="fade" [modal]="true" [closable]="false" [style]="{width: '800px'}"
    [blockScroll]="true">
    <p-header>
        Deciling
    </p-header>
    <div class="modelHeight600">
        <div class="p-grid p-nogutter">
            <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
                <label class="label">Select Type</label>
                <br>
                <div style="height:5px"></div>
                <p-selectButton [options]="lstSeries" [(ngModel)]="selectedSeries"></p-selectButton>
            </div>
            <div class="p-col-6 p-lg-6 p-md-12 p-sm-12">
                <label class="label">Select Universe</label>
                <br>
                <div style="height:5px"></div>
                <p-dropdown [options]="lstUniverse" placeholder="Select Universe" [(ngModel)]="selectedBenchmark"
                    [style]="{ 'width':'90%'}">
                </p-dropdown>
            </div>
            <div class="p-col-6 p-lg-6 p-md-12 p-sm-12">
                <label class="label">Select Date</label>
                <br>
                <div style="height:5px"></div>
                <p-calendar [(ngModel)]="selectedDate" [disabledDates]="invalidDates" [showIcon]="true" appendTo="body"
                    [maxDate]="maxDate" [readonlyInput]="true" dateFormat="mm/dd/yy" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="2000:2030" showButtonBar="true"></p-calendar>
            </div>
        </div>
        <div class="p-col-12" style="padding-left: 0em;">
            <p-panel header="Select Criteria">
                <div class="p-grid">
                    <div class="p-col-12 p-lg-6 p-md-6 p-sm-12">
                        <div class="p-lg-12 p-sm-12">
                            <label class="label">Categories</label>
                        </div>
                        <div class="p-lg-12 p-sm-12">
                            <p-listbox [options]="lstCategories" optionLabel="label" [(ngModel)]="selectedCategory"
                                [listStyle]="{'max-height':'180px','min-height':'180px' }" [style]="{'width':'100%'}"
                                filter="filter" (onChange)="lstCategory_Change($event)"></p-listbox>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-6 p-md-6 p-sm-12">
                        <div class="p-lg-12 p-sm-12">
                            <label class="label">Items</label>
                        </div>
                        <div class="p-lg-12 p-sm-12">
                            <p-listbox [options]="lstItems" optionLabel="label" [(ngModel)]="selectedItem"
                                [listStyle]="{'max-height':'180px','min-height':'180px'}" [style]="{'width':'100%'}"
                                filter="filter">
                            </p-listbox>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="p-grid p-nogutter">
            <div class="p-col-6 p-lg-6 p-md-12 p-sm-12">
                <label class="label">Select Operator</label>
                <br>
                <div style="height:5px"></div>
                <p-dropdown [options]="lstOperator" [(ngModel)]="selectedOperator" appendTo="body"
                    [style]="{ 'width':'20%'}">
                </p-dropdown>
            </div>
            <div class="p-col-6 p-lg-6 p-md-12 p-sm-12">
                <label class="label">Select Decile Value</label>
                <br>
                <div style="height:5px"></div>
                <p-spinner [(ngModel)]="txtValue" [min]="1" [max]="10" size="10"></p-spinner>
            </div>
        </div>
    </div>
    <p-overlayPanel #opError appendTo="body" [dismissable]="true">
        <p-message severity="error" [text]="errorMessages"></p-message>
    </p-overlayPanel>
    <p-footer>
        <p-button label="Submit" (click)="btnSubmit_Click($event,opError)"></p-button>&nbsp;
        <p-button label="Close" styleClass="ui-button-danger" (click)="btnClose_Click()"></p-button>
    </p-footer>
</p-dialog>